@model ProjectX.Models.Pizza

<p>Tem certeza de que deseja excluir a pizza "@Model.GetNome()"? </p>
<form action="/pizza/delete/@Model.GetIdPizza()" method="post">
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="/pizza/index" class="btn btn-secondary">Cancelar</a>
</form>