@model IEnumerable<ProjectX.Models.Pizza>
@{
Layout = "_Layout";
}

<div class="container">
    <h2 class="mb-4">Pizzas</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Valor</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pizza in Model)
        {
        <tr>
            <td>@pizza.IdPizza</td>
            <td>@pizza.Nome</td>
            <td>@pizza.Ingredientes</td>
            <td>R$ @pizza.Valor.ToString("N2")</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="/pizza/edit/@pizza.IdPizza" class="btn btn-primary">Alterar</a>
                    <a href="/pizza/delete/@pizza.IdPizza" class="btn btn-danger">Excluir</a>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
    <a href="/pizza/create" class="btn btn-success">Adicionar Pizza</a>
</div>